.side-nav-row {
    position: relative;
    display: block;
    height: 40px;
    color: #373737;
}

.side-nav-row:hover {
    background-color: #e9e9e9;
    cursor: pointer;
    color: #373737;
}

.side-nav-icon {
    position: absolute;
    top: 8px;
    left: 5px;
}

.menu-name {
    position: absolute;
    top: 13.75px;
    left: 40px;
}

.side-nav-dropdown-btn {
    position: absolute;
    right: 0px;
    top: 8px;
}


