.Clients {
    bottom: 0px;
}

.Clients h1 {
}

.Clients input {
    border: none;
    width: 80%;
    outline: none;
    padding: 20px;
    font-size: 2rem;
    background-color: transparent;
    float: left;

}

.searchIcon {
    float: left;
    font-size: 40px;
    padding-top: 18px;
    padding-bottom: 18px;

}

.addIcon {
    float: right;
    font-size: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
}

.addIcon:hover {
    font-size: 50px;
    color:black;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 5px;
    cursor: pointer;
}

.Clients ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: #e9e9e9; */
    opacity: 1; /* Firefox */
  }

.Clients textarea:focus, input:focus{
    outline: none;
}

.Clients Table {
    background-color: #ffffff;
    border-spacing: 25px;
}

.Clients table tr {
    
}

.Clients table td {
    border-bottom: 1px solid #37474f;
}

.Clients thead {
    font-weight: 600;
    background-color: #37474f;
    color: #e9e9e9;
}

.updateIcon {
    font-size: 20px;
    color: #37474f;
    cursor: pointer;
}

.updateIcon:hover {
    color: #537688;
}

.delIcon {
    font-size: 20px;
    color: rgb(153, 38, 38);
    cursor: pointer;
}

.delIcon:hover {
    color: rgb(255, 0, 0);
}

.input-row {
    display: block;
    text-align: center;
}

.input-icon {
    position: relative;
    top: 15px;
    font-size: 30px;
    padding: 0px 5px;
    color: #37474f;
}

.popup-input-field {
    width: 80%;
    font-size: 15px;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
    /* width: 60%; */
    margin: 0px 10px;
    color: #37474f;
}
